.import-dialog{
    background: white;
    min-width: 30vw;
    min-height: 20vh;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons{
    display: flex;
    justify-content: center;
}

.errors{
    background-color: rgba(255, 90, 90, 0.3);
}
