.create-dialog{
    background: white;
    min-width: 30vw;
    min-height: 20vh;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons{
    display: flex;
    justify-content: center;
}

label{
    font-size: 1rem;
}

select{
    background: #eee;
    border: none;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 5px;
}
select:hover{
    background: #ccc;
}
