.to-state-container{
    padding: 0.5em;
    border: none;
    border-radius: 10px;
    background: #e0e0ff;
}
.to-state-details{
    display: flex;
}
.to-state-delete-button{
    margin-left: auto;
}

.ng-invalid{
    border: 2px solid red;
}

.fold-button, .to-state-delete-button{
    background: none;
    border: none;
    border-radius: 50%;
    padding: 0.5em;
}
.fold-button:hover, .to-state-delete-button:hover{
    background: rgba(0,0,0,0.1);
}

