.save-dialog{
    background: white;
    min-width: 30vw;
    min-height: 20vh;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name-input{
    margin: 1em;
}
.name-input input{
    margin: 0 1em;
}

.buttons, .name-input{
    display: flex;
    justify-content: center;
}
