.simulator{
    display: grid;
    grid-template-rows: 2.5em 1fr;
    height: 100vh;
}

.main-view.split{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px gray;
    z-index: 1;
}
.top-bar>*{
    flex: 1;
}
.title{
    text-align: center;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: bold;
}

.view-selector{
    text-align: right;
}
.view-selector label,.back-btn{
    background: #eee;
    padding: 0.3em 0.5em;
    vertical-align: center;
    border: none;
}
.view-selector label:hover , .back-btn:hover{
    background: #ddd;
}
.view-selector label:has(input:checked){
    background: #ccc;
}
.view-selector input{
    appearance: none;
    margin: 0;
}
.view-selector label{
    display: inline-flex;
    align-items: center;
    gap: 0.025em;
}

.main-view.viewer Editor{
    display: none;
}
.main-view.editor Viewer{
    display: none;
}
