.simulator{
    display: grid;
    grid-template-rows: 2.5em 1fr;
    height: 100vh;
}

.main-view.split{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.top-bar{
    border-bottom: 1px solid #555;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-bar>*{
    flex: 1;
}
.title{
    text-align: center;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.view-selector{
    text-align: right;
}

.main-view.viewer Editor{
    display: none;
}
.main-view.editor Viewer{
    display: none;
}
